.container{
    width: 100%;
    height: 100%;
    margin-top: 100px;
}
.row{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}
.data{
    width: 500px;
    height: 600px;
    text-align: right;
    font-size: 20px;
    word-spacing: 2px;
    overflow: auto;
    text-align: right;
}
.sumy{
    width: 500px;
    height: 600px;
    text-align: right;
    font-size: 20px;
    word-spacing: 2px;
    overflow: auto;
    text-align: right;
}
.labtxt{
    position: absolute;
    left: 529px;
    top: 81px;
    font-size: 36px;
}
.labsum{
    position: absolute;
    right: 211px;
    top: 80px;
    font-size: 36px;
}
h1{
    position: absolute;
    left: 695px;
    top: 0px;
}
