<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css
    " />
</head>

<body style="background-image: url('static/img/bg.jpg')">
    <div class="container">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="search">
                    <i class="fa fa-search"></i>
                    <form action="/result" method="post">
                        <input type="text" class="form-control" placeholder="ادخل عنوان البحث" name="text" dir="rtl">
                        <button  class="btn btn-primary">بحث</button>
                        <select name="sel" class="sel" dir="rtl">
                            <option>اختر لغه البحث</option>
                            <option value="ar">العربيه</option>
                            <option value="en">الانجليزيه</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>